header {
  background-color: #ffffff;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.create-btn {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
  padding-right: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #fff;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin: 15px;
}

.today-btn {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

.month {
  display: flex;
  margin: 15px;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.arrow-btn {
  border: none;
}

.week {
  display: flex;
  justify-content: space-around;
}

.day_date {
  display: flex;
  flex-direction: column;
}

.day_date:first-child {
  margin-left: 60px;
}

.day-header {
  margin-top: 20px;
  font-weight: 500;
  color: #70757b;
}

.date {
  font-weight: 500;
  font-size: 24px;
  // &__choosen{
  //   border-radius: 50%;
  //   color: #fff;
  //   background-color: #1a73e8;
  //   padding: 20px;
  // }
}

.timeScale {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  //background-color: blueviolet;
  width: 5.5%;
}

.hour-scale {
  display: flex;
  margin: 18px;
  color: #70757b;
  font-size: 13px;
  height: 24px;
}

.main {
  display: flex;
  position: relative;
  width: 95%;
}

.headers {
  position: fixed;
  width: 100%;
  background-color: #fff;
  opacity: 100%;
  z-index: 2;
}

.space-week {
  height: 200px;
  // background-color: blue;
}
.space {
  height: 170px;
  // background-color: blue;
}

.day {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #b4b5b8;
  height: 100%;

  width: 100%;
}
.day:last-child {
  border-right: 1px solid #b4b5b8;
  height: 100%;

  width: 100%;
}

.days {
  display: flex;
  width: 94.3vw;
  //position: relative;
}

.hour {
  border-bottom: 1px solid #b4b5b8;
  height: 60px;

  width: 100%;
}

.event {
  position: relative;
  border-radius: 10%;
  background-color: #c6dafc;
  padding: 10px;
  width: 175px;
  height: 55px;
}

.popup {
  position: relative;
  left: 80px;
  top: 15px;
  width: 135px;
  height: 39px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 16px 27px -15px #000000;
  text-align: center;
}

.modalWindow {
  height: 500px;
  width: 500px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  box-shadow: 4px 16px 27px -15px #000000;
}

.times {
  display: flex;
}

.red-line {
  width: 14.3%;
  background-color: red;
  height: 2px;
  position: absolute; // and in Day in function +233 (pixels to start day)
  // position: relative;
}

.red-circle {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  top: -6px;
}